@media only screen and (max-width : 1200px) {
    body {
        /*background: red;*/
    }

    body:before {
        /*content: '1200px';*/
    }

    .h_banner {
        height: 570px;
        background: url(../images/banner.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .logo_fixed {
        width: 60px;
        top: 50px;
    }

    /* header navigation */
    .h_nav ul li {
        margin: 30px 0 30px 30px;
    }
    /* // header navigation */

    .h_title_content {
        margin: 80px auto 0 auto;
    }

    .h_title_content h1 {
        font-size: 38px;
        font-weight: normal;
        letter-spacing: 8px;
        text-shadow: 1px 1px #030303,
        0 2px #030303,
        0 4px #030303,
        0 6px #030303,
        0 8px #000000;
    }

    .h_title_content p {
        margin-top: 30px;
        line-height: 18px;
    }

    /* header link btn */
    .h_title_content a.h_btn_link {
        margin: 50px auto;
        height: 35px;
        width: 140px;
        line-height: 35px;
        font-size: 10px;
    }

    .h_title_content a.h_btn_link:hover {
        margin: 50px auto;
        height: 35px;
        width: 140px;
        line-height: 35px;
        font-size: 10px;
    }
    /* // header link btn */

    /* main top blue bg content div */

    .blue1_content > h3 {
        font-size: 24px;
    }

    .blue1_content > p {
        line-height: 18px;
        font-size: 13px;
    }
    /* // main top blue bg content div */

    /* main articles' items container div */
    .m_art {
        margin:70px auto;
    }
    /* // main articles' items container div */

    /* main item's container div */

    .art_item:nth-child(2), .art_item:nth-child(5) {
        margin: 0 15px;
    }
    /* main item's container div */

    /* member's div */
    .team_member {
        width: 22%;
        margin-right: 11px;
    }
    /* // member's div */

    /* footer */
    .f_icon a:link {
        color: #c9c9c9;
    }
    .f_icon a:visited {
        color: #c9c9c9;
    }
    .f_icon a:hover {
        color: #f8f8f8;
    }
    .f_icon a:active {
        color: #f8f8f8;
    }
    /* // footer */
}

@media only screen and (max-width : 991px) {
    body {
        /*background: lightblue;*/
    }
    body:before {
        /*content: '991px';*/
    }

    .h_banner {
        height: 570px;
        background: url(../images/banner.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .logo_fixed {
        width: 60px;
        top: 50px;
    }

    /* header navigation */
    .h_nav ul li {
        margin: 30px 0 20px 20px;
    }
    /* // header navigation */

    .h_title_content {
        margin: 60px auto 0 auto;

    }

    .h_title_content h1 {
        font-size: 34px;
        letter-spacing: 6px;
        text-shadow: 1px 1px #030303,
        0 2px #030303,
        0 4px #030303,
        0 6px #030303,
        0 8px #000000;
    }

    .h_title_content p {
        margin-top: 25px;
        line-height: 16px;
        font-size: 11px;
    }

    /* header link btn */
    .h_title_content a.h_btn_link {
        margin: 50px auto;
        height: 35px;
        width: 140px;
        line-height: 35px;
        font-size: 10px;
    }

    .h_title_content a.h_btn_link:hover {
        margin: 50px auto;
        height: 35px;
        width: 140px;
        line-height: 35px;
        font-size: 10px;
    }
    /* // header link btn */

    /* main top blue bg content div */
    .blue1_content > h3 {
        font-size: 24px;
    }

    .blue1_content > p {
        line-height: 18px;
        font-size: 13px;
    }
    /* // main top blue bg content div */

    /* main articles' items container div */

    .art_item:nth-child(2), .art_item:nth-child(5) {
        margin: 0 5px;
    }
    /* // main item's container div */

    /*  main team's photo container div */
    .photo_team{
        /*width: 850px;*/
    }
    /* // main team's photo container div  */

    /* member's div */
    .team_member {
        width: 22%;
        text-align: center;
        display: inline-block;
        overflow: hidden;
        margin: 0 8px;
    }
    /* // member's div */

    /* member's div */
    .team_member > div {
        width: 100px;
        height: 100px;
        overflow:hidden;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
    }
    /* // member's div */

    /* form content div */
    .form_content {
        width: 60%;
    }
    /* // form content div */
    div.f_location {
        margin: 30px 0 0 30px;
    }


    /* footer */
    .f_icon a:link {
        color: #c9c9c9;
    }
    .f_icon a:visited {
        color: #c9c9c9;
    }
    .f_icon a:hover {
        color: #f8f8f8;
    }
    .f_icon a:active {
        color: #f8f8f8;
    }
    /* // footer */

}

@media only screen and (max-width : 768px) {
    body {
        /*background: blueviolet;*/
    }
    body:before {
        /*content: '768px';*/
    }

    .h_banner {
        height: 550px;
        background: url(../images/banner.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .h_content {
        /*width: 80%;*/
    }

    .logo_fixed {
        width: 55px;
        top: 50px;
    }

    /* header navigation */
    .h_nav ul li {
        margin: 30px 0 15px 15px;
        font-size: 11px;
    }
    /* // header navigation */

    .h_title_content {
        margin: 45px auto 0 auto;
    }

    .h_title_content h1 {
        font-size: 30px;
        letter-spacing: 5px;
        text-shadow: 1px 1px #030303,
        0 2px #030303,
        0 4px #030303,
        0 6px #030303;
    }

    .h_title_content p {
        margin-top: 20px;
        line-height: 14px;
        font-size: 11px;
    }

    /* header link btn */
    .h_title_content a.h_btn_link {
        margin: 50px auto;
        width: 140px;
        height: 35px;
        line-height: 35px;
        font-size: 10px;
    }

    .h_title_content a.h_btn_link:hover {
        margin: 50px auto;
        width: 140px;
        height: 35px;
        line-height: 35px;
        font-size: 10px;
    }
    /* // header link btn */

    /* main top blue bg content div */

    .blue1_content > h3 {
        font-size: 24px;
    }

    .blue1_content > p {
        line-height: 18px;
        font-size: 13px;
    }
    /* // main top blue bg content div */

    /* main item's container div */

    .art_item:nth-child(2), .art_item:nth-child(5) {
        margin: 0 10px;
    }
    /* // main item's container div */

    /* main gallery item's container div */
    .gal_item {
        width: 32%;
    }

    /* main gallery item's container div */

    /* member's div */
    .team_member {
        width: 45%;
        text-align: center;
        display: inline-block;
        overflow: hidden;
    }
    .team_member:nth-child(2), .team_member:nth-child(4){
        margin: 0 7px;
    }
    /* // member's div */

    /* member's div */
    .team_member > div {
        width: 100px;
        height: 100px;
        overflow:hidden;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
    }
    /* // member's div */

    /* footer */
    .f_icon a:link {
        color: #858585;
    }
    .f_icon a:visited {
        color: #858585;
    }
    .f_icon a:hover {
        color: #f8f8f8;
    }
    .f_icon a:active {
        color: #f8f8f8;
    }
    /* // footer */
}

@media only screen and (max-width : 560px) {
    body {
        /*background: goldenrod;*/
    }
    body:before {
             /*content: '560px';*/
         }
    .h_banner {
        height: 530px;
        background: url(../images/banner.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .logo_fixed {
        width: 50px;
        top: 50px;
    }

    /* header navigation */

    p.icon_bar {
        width: 20%;
        margin: 0 0 5px 30%;
        text-align: center;
        font-size: 18px;
        color:#fff;
        background-color: rgba(135, 135, 135, 0.69);
        border: 1px solid rgba(130, 130, 130, 0.67);
    }

    .icon_bar a:link {
        display: block;
        padding: 3px 0;
        width: 100%;
        color:#fff;
        text-decoration: none;
    }
    .icon_bar a:visited {
        width: 100%;
        padding: 3px 0;
        display: block;
        text-decoration: none;
        color:#fff;
    }
    .icon_bar a:hover {
        display: block;
        padding: 3px 0;
        width: 100%;
        background-color: rgba(194, 194, 194, 0.69);
        border: 1px solid rgba(95, 95, 95, 0.67);
        box-shadow: 3px 3px 3px #686868;
        text-decoration: none;
        color:#fff;
    }
    .icon_bar a:active {
        display: block;
        padding: 3px 0;
        width: 100%;
        text-decoration: none;
        color:#fff;
    }

    .h_nav {
        text-align: left;
    }

    .h_nav ul li {
        display: block;
        margin: 5px 0 5px 30%;
        font-size: 11px;
        background-color: rgba(135, 135, 135, 0.69);
        border: 1px solid rgba(130, 130, 130, 0.67);
        padding: 5px;
        width:50%;
    }
    /* // header navigation */

    .h_title_content {
        margin: 30px auto 0 auto;
    }

    .h_title_content h1 {
        font-size: 28px;
        letter-spacing: 3px;
        text-shadow: 1px 1px #030303,
        0 2px #030303,
        0 4px #030303,
        0 6px #030303;
    }

    .h_title_content p {
        margin-top: 10px;
        line-height: 14px;
        font-size: 11px;
        margin-bottom: 20px;
    }

    /* header link btn */
    .h_title_content a.h_btn_link {
        margin: 20px auto;
        width: 100px;
        height: 25px;
        line-height: 25px;
        font-size: 9px;
    }

    .h_title_content a.h_btn_link:hover {
        margin: 20px auto;
        width: 100px;
        height: 25px;
        line-height: 25px;
        font-size: 9px;
    }
    /* // header link btn */


    /* main top blue bg content div */

    .blue1_content > h3 {
        font-size: 24px;
    }

    .blue1_content > p {
        line-height: 18px;
        font-size: 13px;
    }
    /* // main top blue bg content div */

    /* main item's container div */
    .art_item {
        width: 45%;
    }

    .art_item:nth-child(2), .art_item:nth-child(4), .art_item:nth-child(6) {
        margin: 0 5px;
    }
    .art_item:nth-child(5) {
        margin: 0 0;
    }
    /* // main item's container div */

    .gal_item {
        /*width: 220px;*/
        width: 49%;
    }
    /* // main gallery item's container div */

    /* member's container div */
    .team_member {
        width: 93%;
        text-align: center;
        display: inline-block;
        overflow: hidden;
        margin: 5px 0;
    }
    /* // member's container div */

    /* member's div */
    .team_member > div {
        width: 100px;
        height: 100px;
        overflow:hidden;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
    }

    p.member_desc {
        padding: 0 30px;
    }
    /* // member's div */


    /* form content div */
    .form_content {
        width: 80%;
    }
    /* // form content div */
    /* footer */
    .f_icon a:link {
        color: #858585;
    }
    .f_icon a:visited {
        color: #858585;
    }
    .f_icon a:hover {
        color: #f8f8f8;
    }
    .f_icon a:active {
        color: #f8f8f8;
    }
    /* // footer */
 }

@media only screen and (max-width : 480px) {
    body {
        /*background: brown;*/
    }
    body:before {
        /*content: '480px';*/
    }

    .h_banner {
        height: 510px;
        background: url(../images/banner.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .h_content {
    }

    .logo_fixed {
        width: 50px;
        top: 50px;
    }

    /* header navigation */

    p.icon_bar {
        width: 20%;
        margin: 0 0 5px 30%;
        text-align: center;
        font-size: 18px;
        color:#fff;
        background-color: rgba(135, 135, 135, 0.69);
        border: 1px solid rgba(130, 130, 130, 0.67);
    }

    .icon_bar a:link {
        display: block;
        padding: 3px 0;
        width: 100%;
        color:#fff;
        text-decoration: none;
    }
    .icon_bar a:visited {
        width: 100%;
        padding: 3px 0;
        display: block;
        text-decoration: none;
        color:#fff;
    }
    .icon_bar a:hover {
        display: block;
        padding: 3px 0;
        width: 100%;
        background-color: rgba(194, 194, 194, 0.69);
        border: 1px solid rgba(95, 95, 95, 0.67);
        box-shadow: 3px 3px 3px #686868;
        text-decoration: none;
        color:#fff;
    }
    .icon_bar a:active {
        display: block;
        padding: 3px 0;
        width: 100%;
        text-decoration: none;
        color:#fff;
    }

    .h_nav {
        text-align: left;

    }

    .h_nav ul li {
        display: block;
        margin: 5px 0 5px 30%;
        font-size: 11px;
        background-color: rgba(135, 135, 135, 0.69);
        border: 1px solid rgba(130, 130, 130, 0.67);
        padding: 5px;
        width:50%;
    }
    /* // header navigation */

    .h_title_content {
        margin: 10px auto 0 auto;
        width: 80%;
    }

    .h_title_content h1 {
        font-size: 24px;
        letter-spacing: 3px;
        text-shadow: 1px 1px #030303,
        0 2px #030303,
        0 4px #030303;
    }

    .h_title_content p {
        margin: 5px 0;
        line-height: 14px;
        font-size: 11px;
    }

    /* header link btn */
    .h_title_content a.h_btn_link {
        margin: 20px auto;
        width: 100px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;
    }

    .h_title_content a.h_btn_link:hover {
        margin: 20px auto;
        width: 100px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;
    }
    /* // header link btn */

    /* main top blue bg content div */

    .blue1_content > h3 {
        font-size: 24px;
    }

    .blue1_content > p {
        line-height: 18px;
        font-size: 13px;
    }
    /* // main top blue bg content div */

    /* main item's container div */
    .art_item {
        width: 90%;
    }

    /* // main item's container div */

    /* main gallery item's container div */
    .gal_item {
        width: 100%;
    }
    /* main gallery item's container div */


    /* member's container div */
    .team_member {
        width: 93%;
        text-align: center;
        display: inline-block;
        overflow: hidden;
    }
    /* // member's container div */

    /* member's div */
    .team_member > div {
        width: 100px;
        height: 100px;
        overflow:hidden;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
    }

    /* form content div */
    .form_content {
        margin: 20px auto;
        width: 85%;
    }

    input.query_btn {
        width: 170px;
        margin: 10px auto;
        padding: 5px 0;
        letter-spacing: 2px;
    }

    input.query_btn:hover {
        width: 170px;
        margin: 10px auto;
        padding: 5px 0;
        letter-spacing: 2px;
    }

    /* footer */
    .f_icon a:link {
        color: #858585;
    }
    .f_icon a:visited {
        color: #858585;
    }
    .f_icon a:hover {
        color: #f8f8f8;
    }
    .f_icon a:active {
        color: #f8f8f8;
    }
    /* // footer */
}

@media only screen and (max-width : 320px) {
    body {
        /*background: deeppink;*/
    }
    body:before {
        /*content: '320px';*/
    }

    .h_banner {
        height: 460px;
        background: url(../images/banner.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .h_content {
        width: 80%;
    }

    .logo_fixed {
        width: 45px;
        top: 50px;
    }

    /* header navigation */

    p.icon_bar {
        width: 20%;
        margin: 0 0 5px 30%;
        text-align: center;
        font-size: 18px;
        color:#fff;
        background-color: rgba(135, 135, 135, 0.69);
        border: 1px solid rgba(130, 130, 130, 0.67);
    }

    .icon_bar a:link {
        display: block;
        padding: 3px 0;
        width: 100%;
        color:#fff;
        text-decoration: none;
    }
    .icon_bar a:visited {
        width: 100%;
        padding: 3px 0;
        display: block;
        text-decoration: none;
        color:#fff;
    }
    .icon_bar a:hover {
        display: block;
        padding: 3px 0;
        width: 100%;
        background-color: rgba(194, 194, 194, 0.69);
        border: 1px solid rgba(95, 95, 95, 0.67);
        box-shadow: 3px 3px 3px #686868;
        text-decoration: none;
        color:#fff;
    }
    .icon_bar a:active {
        display: block;
        padding: 3px 0;
        width: 100%;
        text-decoration: none;
        color:#fff;
    }

    .h_nav {
        text-align: left;
    }

    .h_nav ul li {
        display: block;
        margin: 5px 0 5px 30%;
        font-size: 11px;
        background-color: rgba(135, 135, 135, 0.69);
        border: 1px solid rgba(130, 130, 130, 0.67);
        padding: 5px;
        width:50%;
    }
    /* // header navigation */

    .h_title_content {
        width: 90%;
        margin: 15px auto 0 auto;
    }

    .h_title_content h1 {
        font-size: 21px;
        letter-spacing: 2px;
        text-shadow: 1px 1px #030303,
        0 2px #030303,
        0 4px #030303;
    }

    .h_title_content p {
        margin-top: 10px;
        line-height: 12px;
        font-size: 11px;
        margin-bottom: 5px;
    }

    /* header link btn */
    .h_title_content a.h_btn_link {
        margin: 15px auto;
        width: 80px;
        height: 20px;
        line-height: 20px;
        font-size: 8px;
    }

    .h_title_content a.h_btn_link:hover {
        margin: 15px auto;
        width: 80px;
        height: 20px;
        line-height: 20px;
        font-size: 8px;
    }
    /* // header link btn */

    /* main top blue bg content div */
    .blue1_content > h3 {
        font-size: 17px;
    }

    .blue1_content > p {
        line-height: 14px;
        font-size: 10px;
    }
    /* // main top blue bg content div */

    /* main item's container div */
    .art_item {
        width: 95%;
        margin: 10px 0;
        height: 100%;
    }

    /* main gallery item's container div */
    .gal_item {
        width: 100%;
    }
    /* // main gallery item's container div */

     /* form content div */
    .form_content {
        margin: 20px auto;
        width: 85%;
    }

    input.query_btn {
        width: 170px;
        margin: 10px auto;
        padding: 5px 0;
        letter-spacing: 2px;
    }

    input.query_btn:hover {
        width: 170px;
        margin: 10px auto;
        padding: 5px 0;
        letter-spacing: 2px;
    }
    /* footer */
    .f_icon a:link {
        color: #858585;
    }
    .f_icon a:visited {
        color: #858585;
    }
    .f_icon a:hover {
        color: #f8f8f8;
    }
    .f_icon a:active {
        color: #f8f8f8;
    }
    /* // footer */
 }