@media only screen and (min-width: 1200px) and (max-width: 1365px) {

    .team-member {
        margin: 15px 77px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {

    .menu-wrapper {
        width: 921px;
    }

    .services-list {
        width: 921px;
    }

    .footer-main-container {
        width: 760px;
    }

    .address-and-cr {
        width: 315px;
    }

    .footer-services-list {
        width: 180px;
    }

    .team-member {
        margin: 15px;
    }

    .text {
        width: 921px;
    }

    .team-members-wrapper {
        width: 800px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {

    .menu-wrapper {
        width: 600px;
    }

    .top-menu > a {
        margin-left: 20px;
    }

    .header-text {
        width: 685px;
        height: 345px;
    }

    .services-list {
        width: 733px;
    }

    .text {
        width: 600px;
    }

    .buttons:checked + div > .text {
        left: -253px;
    }

    .form-wrapper {
        width: 700px;
    }

    .form-wrapper > form > input {
        padding: 0;
    }

    .footer-main-container {
        width: 447px;
    }

    .address-and-cr {
        width: 300px;
    }

    .footer-services-list {
        width: 142px;
    }

    .footer-social-buttons {
        display: block;
        margin-top: 40px;
        line-height: normal;
        vertical-align: top;
    }

    .footer-social-buttons > h3 {
        vertical-align: top;
        display: inline-block;
        margin: 18px 43px 0 0;
        font-size: 16px;
    }

}

@media only screen and (min-width: 560px) and (max-width: 767px) {

    .top-fixed-menu {
        display: none;
    }

    .main-header {
        height: 680px;
    }

    .menu-wrapper {
        width: 530px;
        text-align: center;
        height: 68px;
        padding-top: 25px;
    }

    .top-logo {
        margin: 0 0 28px 0;
    }

    .top-menu {
        display: block;
        position: static;
    }

    .top-menu > a {
        margin: 0 15px 0 15px;
    }

    .top-menu > a:first-of-type {
        margin-left: 0;
    }

    .top-menu > a:last-of-type {
        margin-right: 0;
    }

    .header-text {
        width: 530px;
        height: 400px;
        top: 105px;
    }

    .header-text > h1 {
        font-size: 35px;
    }

    .blue-slice > p {
        width: 500px;
    }

    .services-list {
        width: 500px;
    }

    .text {
        width: 500px;
    }

    .buttons:checked + div > .text {
        left: -201px;
    }

    .form-wrapper {
        width: 500px;
    }

    .form-wrapper > p {
        width: 500px;
    }

    .form-wrapper > form > input {
        padding: 0;
    }

    .footer-main-container {
        width: 447px;
    }

    .address-and-cr {
        width: 300px;
    }

    .footer-services-list {
        width: 142px;
    }

    .footer-social-buttons {
        display: block;
        margin-top: 40px;
        line-height: normal;
        vertical-align: top;
    }

    .footer-social-buttons > h3 {
        vertical-align: top;
        display: inline-block;
        margin: 18px 43px 0 0;
        font-size: 16px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 559px) {

    .top-fixed-menu {
        display: none;
    }

    .main-header {
        height: 740px;
    }

    .menu-wrapper {
        width: 320px;
        text-align: center;
        height: 343px;
        padding-top: 35px;

    }

    .top-logo {
        margin: 0 0 18px 0;
    }

    .top-menu {
        display: block;
        position: static;
        text-align: left;
    }

    .top-menu > a {
        display: block;
        margin: 0;
        font-size: 44px;
        border-bottom: 1px solid #939393;

    }

    .top-menu > a:first-of-type {
        margin-left: 0;
    }

    .top-menu > a:last-of-type {
        margin-right: 0;
    }

    .header-text {
        width: 445px;
        height: 280px;
        top: 5px;

    }

    .header-text > h1 {
        font-size: 28px;
    }

    .blue-slice > p {
        width: 427px;
    }

    .services-list {
        width: 450px;
    }

    .text {
        width: 455px;
    }

    .buttons:checked + div > .text {
        left: -179px;
    }

    .form-wrapper {
        width: 450px;
    }

    .form-wrapper > p {
        width: 450px;
    }

    .text p:last-of-type {
        margin-top: 8px;
    }

    .form-wrapper > form > input {
        padding: 0;
    }

    .footer-main-container {
        width: 447px;
    }

    .address-and-cr {
        width: 300px;
    }

    .footer-services-list {
        width: 142px;
    }

    .footer-social-buttons {
        display: block;
        margin-top: 40px;
        line-height: normal;
        vertical-align: top;
    }

    .footer-social-buttons > h3 {
        vertical-align: top;
        display: inline-block;
        margin: 18px 43px 0 0;
        font-size: 16px;
    }

}

@media only screen and (min-width: 320px) and (max-width: 479px) {

    .top-fixed-menu {
        display: none;
    }

    .main-header {
        height: 740px;
    }

    .menu-wrapper {
        width: 285px;
        text-align: center;
        height: 273px;
        padding-top: 35px;

    }

    .top-logo {
        margin: 0 0 18px 0;
    }

    .top-menu {
        display: block;
        position: static;
        text-align: left;
    }

    .top-menu > a {
        display: block;
        margin: 0;
        font-size: 33px;
        border-bottom: 1px solid #939393;

    }

    .top-menu > a:first-of-type {
        margin-left: 0;
    }

    .top-menu > a:last-of-type {
        margin-right: 0;
    }

    .header-text {
        width: 285px;
        height: 395px;
        top: 5px;

    }

    .header-text > h1 {
        font-size: 28px;
    }

    .blue-slice {
        padding-top: 17px;
    }

    .blue-slice > p {
        width: 290px;
    }

    .services-list {
        width: 290px;
    }

    .services-list-item-wrapper {
        width: 280px;
        margin: 20px 0;
    }

    .services-list-item {
        padding: 40px 10px;
        width: 258px;

    }

    .works > img {
        width: 270px;
        height: 270px;
    }

    .team-member {
        width: 275px;
        margin: 15px 0;
    }

    .text {
        width: 275px;
    }

    .buttons:checked + div > .text {
        top: -253px;
        left: -91px;
    }

    .wrapper {
        bottom: 17px;
    }

    .text p:last-of-type {
        margin-top: 30px;
    }

    .form-wrapper {
        width: 270px;
    }

    .form-wrapper > p {
        width: 270px;
    }

    .form-wrapper > form > input {
        padding: 0;
    }

    .footer-main-container {
        width: 273px;
    }

    .address-and-cr {
        width: 270px;
    }

    .footer-services-list {
        margin-top: 40px;
        width: 142px;
    }

    .footer-social-buttons {
        display: block;
        margin-top: 40px;
        line-height: normal;
        vertical-align: top;
    }

    .footer-social-buttons > h3 {
        vertical-align: top;
        display: block;
        margin: 18px 43px 25px 0;
        font-size: 16px;
    }

}

@media only screen and (max-width: 319px) {

    .top-fixed-menu {
        display: none;
    }

    .main-header {
        height: 740px;
    }

    .menu-wrapper {
        width: 285px;
        text-align: center;
        height: 273px;
        padding-top: 35px;

    }

    .top-logo {
        margin: 0 0 18px 0;
    }

    .top-menu {
        display: block;
        position: static;
        text-align: left;
    }

    .top-menu > a {
        display: block;
        margin: 0;
        font-size: 33px;
        border-bottom: 1px solid #939393;

    }

    .top-menu > a:first-of-type {
        margin-left: 0;
    }

    .top-menu > a:last-of-type {
        margin-right: 0;
    }

    .header-text {
        width: 285px;
        height: 395px;
        top: 5px;

    }

    .header-text > h1 {
        font-size: 28px;
    }

    .blue-slice {
        padding-top: 17px;
    }

    .blue-slice > p {
        width: 290px;
    }

    .services-list {
        width: 290px;
    }

    .services-list-item-wrapper {
        width: 280px;
        margin: 20px 0;
    }

    .services-list-item {
        padding: 40px 10px;
        width: 258px;

    }

    .works > img {
        width: 270px;
        height: 270px;
    }

    .team-member {
        width: 275px;
        margin: 15px 0;
    }

    .text {
        width: 275px;
    }

    .buttons:checked + div > .text {
        top: -253px;
        left: -91px;
    }

    .wrapper {
        bottom: 17px;
    }

    .text p:last-of-type {
        margin-top: 30px;
    }

    .form-wrapper {
        width: 270px;
    }

    .form-wrapper > p {
        width: 270px;
    }

    .form-wrapper > form > input {
        padding: 0;
    }

    .footer-main-container {
        width: 273px;
    }

    .address-and-cr {
        width: 270px;
    }

    .footer-services-list {
        margin-top: 40px;
        width: 142px;
    }

    .footer-social-buttons {
        display: block;
        margin-top: 40px;
        line-height: normal;
        vertical-align: top;
    }

    .footer-social-buttons > h3 {
        vertical-align: top;
        display: block;
        margin: 18px 43px 25px 0;
        font-size: 16px;
    }

}