html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #fff;
}
body {
    overflow: inherit!important;
    padding-right: 0!important;
}


/* Sidebar */
.navmenu {
    background-color: #222222;
    border-color: #AADE43;
}
.news-sidebar-ul {
    text-align: right;
    padding: 0 20px;
}
.news-sidebar-ul li {
    position: relative;
}
.news-sidebar-ul li a {
    color: #fff!important;
    font-size: 16px;
    padding: 6px 15px;
    font-variant: all-petite-caps;
}
.news-sidebar-ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 3px;
    height: 0;
    background: #aade43;
    transition: all .2s ease-in-out;
}
.news-sidebar-ul li:hover::after {
    height: 100%;
}
.news-soc-icon {
    text-align: right;
    margin: 40px 0;
    padding: 0 33px;
}
.news-soc-icon li {
    display: inline-block;
}
.news-soc-icon li a {
    display: inline-block;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    font-size: 18px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 32px;
    margin-left: 10px;
    transition: all .1s ease-in-out;
}
.news-soc-icon li a:hover {
    background-color: #AADE43;
    border-color: #AADE43;
}
/* /Sidebar */

/* Brand */
.navmenu-brand {
    display: inline-block;
    color: #fff!important;
    font-weight: bold;
    font-size: 30px;
    font-variant: all-small-caps;
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #AADE43;
    margin: 70px 0;
}
/* /Brand */

/* Open / Close buttons */
.navbar-open, .navbar-close {
    font-size: 20px;
    border-radius: 0;
    padding: 0 7px;
    background: transparent!important;
    border-color: #AADE43;
    color: #AADE43!important;
    z-index: 1;
    transition: all .2s ease-in-out;
}
.navbar-open:hover, .navbar-close:hover {
    background: #AADE43!important;
    color: #fff!important;
}
.navbar-open {
    position: absolute;
    top: 10px;
    left: 15px;
}
/* Open / Close buttons */

/* Carousel */
.carousel {
    margin-bottom: 20px;
}
.carousel-control {
    width: 30px;
    height: 28px;
    line-height: 28px;
    font-size: 26px;
    border: 1px solid #AADE43;
    opacity: 1;
    background-image: none!important;
    color: #AADE43;
    transition: all .2s ease-in-out;
}
.carousel-control:focus, .carousel-control:hover {
    opacity: 1;
    background-color: transparent;
    color: #AADE43;
}
.carousel-control.right {
    right: 10px;
    top: calc(50% - 15px);
}
.carousel-control.left {
    left: 10px;
    top: calc(50% - 15px);
}
.carousel-control:hover {
    background-color: #AADE43;
    color: #fff;
}
.carousel-indicators {
    margin-bottom: 0;
}
.carousel-indicators li {
    width: 30px;
    height: 5px;
    border: 1px solid #AADE43;
    border-radius: 0;
}
.carousel-indicators .active {
    width: 32px;
    height: 7px;
    margin: 0;
    background-color: #AADE43;
}
.carousel-caption.news-carousel-caption {
    width: 50%;
    left: 5%;
    bottom: 10%;
    background: green;
    text-align: left;
    padding: 10px;
}
.carousel-caption-a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 4px 10px;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.carousel-caption-a:hover {
    background-color: #fff;
    color: #008000;
    text-decoration: none;
    text-shadow: none;
}
.carousel-caption-h3 {
    font-variant: all-petite-caps;
}
/* Carousel */

/* Content */
.container {
    max-width: 100%;
}
.news-posters {
    margin-bottom: 35px;
    width: 100%;
    height: 100%;
    position: relative;
}
.news-posters > img {
    width: 100%;
}

/* News poster effect */
.hover-block {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2%;
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
}
.news-poster-title {
    font-size: 20px;
}
.news-poster-line {
    display: block;
    border-top: 1px solid #fff;
    margin: 10px auto;
    max-width: 250px;
}
.news-poster-tag {
    display: inline-block;
    border: 1px solid #fff;
    padding: 2px 8px;
    color: #fff;
}
.hover-block > h3, .hover-block > p, .news-poster-line {
    transition: all .3s ease-in-out;
    color: #fff;
    opacity: 0;
}
.hover-block > h3 {
    transform: translateX(-35px);
}
.hover-block > p {
    transform: translateX(35px);
}
.hover-block:hover > h3,
.hover-block:hover > p,
.hover-block:hover > .news-poster-line {
    transform: translateX(0);
    opacity: 1;
}
.news-posters:hover > a {
    background-color: rgba(0,0,0,0.6);
    text-decoration: none;
}
.load-btn-block > .btn.btn-success {
    outline: none;
    background-color: transparent;
    border-color: #AADE43;
    border-radius: 0;
    color: #AADE43;
    font-variant: all-small-caps;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
}
.load-btn-block > .btn.btn-success:hover {
    background-color: #aade43;
    color: #fff;
}
/* News poster effect */

/* /Content */

/* Content-sidebar */
.news-sidebar > div {
    margin-bottom: 50px;
}

/* search */
.sidebar-search-block h3 {
    margin-top: 0;
}
.content-sidebar-block-title {
    font-variant: all-small-caps;
    border-bottom: 2px solid #AADE43;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}
.search-news {
    border-radius: 0;
    background-color: #111010;
    border: none;
    color: #aade43;
    padding: 6px 30px 6px 12px;
    letter-spacing: 1px;
}
.search-news:focus {
    border-color: transparent;
    box-shadow: none;
}
.news-form-group {
    position: relative;
}
.news-form-group::before {
    content: "\f4a4";
    font-family: "Ionicons";
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 20px;
    color: #949191;
}
/* /search */

/* labels */
.tag-ul {
    margin: 0;
    padding: 0;
}
.tag-ul li {
    display: inline-block;
    margin-right: 5px;
}
.tag-ul li a {
    display: inline-block;
    border: 1px solid #aade43;
    font-size: 13px;
    color: #aade43;
    font-variant: all-small-caps;
    padding: 0 5px;
    margin-bottom: 10px;
}
.tag-ul li a:hover {
    background-color: #aade43;
    color: #fff;
    text-decoration: none;
}
/* /labels */

/* popular news */
.popular-ul {
    margin: 0;
    padding: 0;
}
.popular-ul li {
    list-style-type: none;
    display: table;
    margin-bottom: 20px;
}
.popular-new-img-block {
    width: 22%;
    float: left;
    overflow: hidden;
}
.popular-new-img-block > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.popular-new-img-block > a > img {
    width: 100%;
}
.popular-new-text-block {
    width: 75%;
    float: right;
    overflow: hidden;
}
.popular-new-text-block > h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.popular-new-text-block > p {
    font-size: 13px;
}
.popular-new-text-block > h4 > a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.popular-new-text-block > h4 > a:hover {
    color: #aade43;
}
/* /popular news */

/* /Content-sidebar */

/* News Footer */
footer {
    border-top: 1px solid #AADE43;
    height: 55px;
    line-height: 55px;
    padding: 0 20px;
}
.footer p {
    margin: 0;
    font-variant: small-caps;
    color: #aade43;
}
.footer p a {
    color: #aade43;
}
/* /News Footer */

/* one-news page */
.base-text {
    text-align: justify;
    line-height: 22px;
    letter-spacing: 1px;
}
.base-text-img {
    width: 500px;
    height: 250px;
    float: right;
    margin: 10px 0 0 10px;
}
.base-text-video {
    float: left;
    margin: 10px 10px 0 0;
}
.carousel-caption.news-carousel-caption.one-news-carousel-caption {
    width: 50%;
    left: calc(50% - 25%);
    bottom: 30%;
    background: rgba(0, 128, 0, 0.8);
    text-align: center;
    padding: 50px 30px;
}
/* one-news page */








