body {
    padding-top: 70px;
    font-size: 16px;
}

/* Navbar */
.navbar-inverse {
    background-color: #42170E;
    border-color: #42170E;
    box-shadow: 0 2px 25px #000;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-brand {
    height: auto;
    padding: 25px 15px;
    color: #fff!important;
}
.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff!important;
}
.navbar-nav li a {
    transition: background .3s ease-in-out;
}
.navbar-nav li a:hover {
    background: linear-gradient(#a93a23, #42170E)!important;
}
.navbar-form, .navbar-toggle {
    margin-top: 19px;
    margin-bottom: 17px;
}
.navbar-toggle {
    border: none;
}
.navbar-toggle:hover,
.navbar-toggle:focus,
.navbar-inverse .navbar-nav>.open>a {
    background-color: transparent!important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #42170E;
}
/* Search */
.slider {
    position: relative;
}
.carousel-info {
    display: inline-block;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    background: rgba(66, 23, 14, 0.8);
    color: #fff;
    position: absolute;
    top: 0;
    left: 50px;
    padding: 24px 10px;
}
.carousel-info h4 {
    margin-top: 0;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}
.carousel-info ul {
    margin-bottom: 30px;
    text-align: right;
    list-style-type: none;
    padding: 12px 0;
}
.dir-btn {
    border-radius: 0;
    border-color: #fff;
    letter-spacing: 1px;
    background: #42170E;
    color: #fff;
    padding: 5px 12px;
    margin-top: 15px;
    font-variant: all-small-caps;
    transition: all .3s ease-in-out;
}
.dir-btn:hover {
    border-color: #42170E;
    background: #fff;
    color: #42170E;
}
.search-form .form-group {
    position: relative;
}
.form-group::before {
    content: "\f002";
    font-family: "FontAwesome", Arial, sans-serif;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
}
.form-control {
    background: transparent;
    border: none;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #fff;
    padding: 6px 20px 6px 3px;
    color: #fff;
}
.form-control:focus {
    box-shadow: none;
    border-color: transparent;
    background: linear-gradient(to top, #a42a2a, #a4644e);
}
.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    font-size: 12px;
}
.search-input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    font-size: 12px;
}
.search-input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    font-size: 12px;
}
.search-input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-size: 12px;
}
/* Search */
/* Navbar */

/* Carousel */
.item {
    position: relative;
}
.carousel-indicators li,
.carousel-indicators .active {
    width: 40px;
    border-radius: 0;
    border-color: #42170E;
}
.carousel-indicators .active {
    background-color: #42170E;
}
/* Carousel */

/* Carousel info block */
.carousel-info-block {
    background-color: #42170e;
    color: #fff;
}
.carousel-info-mobile-title {
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 1px;
}
.carousel-info-mobile-list {
    text-align: right;
    padding: 0;
    list-style-type: none;
    line-height: 26px;
    letter-spacing: 1px;
}
.slider-h2, .slider-h4 {
    position: absolute;
    font-weight: bolder;
    color: #ccc;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000, 3px 3px 3px #fff;
}
.item.active .slider-h2 {
    right: 13%;
    top: 25%;
    animation: show-top 1.5s ease-in;
}
@keyframes show-top {
    from {
        top: -100px;
    }
    to {
        top: 25%;
    }
}
.item.active .slider-h4 {
    right: 13%;
    top: 35%;
    animation: show-right 1.5s ease-in;
}
@keyframes show-right {
    from {
        right: -350px;
    }
    to {
        right: 13%;
    }
}
/* /Carousel info block */

/* Why choose us */
.block-title {
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #42170E;
    font-weight: 900;
    background: linear-gradient(to top, #401208, #ff2f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.why-choose-us-block {
    padding: 25px 0;
}
.why-choose-titles {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #42170e;
    margin-top: 30px;
    position: relative;
}
.why-choose-titles > i {
    position: absolute;
    right: 10px;
    font-size: 26px;
}
/*.why-choose-titles::after {
    content: '\f1b9';
    font-family: "FontAwesome", Arial, sans-serif;
    font-size: 26px;
    position: absolute;
    left: 90%;
}*/
.why-choose-titles > span {
    color: rgba(173, 155, 152, 0.1);
    display: inline-block;
    font-size: 80px;
    font-weight: bolder;
    position: absolute;
    left: -10px;
    top: -40px;
}
.why-choose-text {
    color: #42170e;
    margin-bottom: 50px;
    line-height: 30px;
}
.why-choose-img-block {
    overflow: hidden;
}
.why-choose-img-block > img {
    transition: all 1.5s linear;
    width: 100%;
}
.why-choose-img-block:hover > img {
    transform: scale(1.1);
}
/* /Why choose us */

/* Our services */
.our-services {
    padding: 25px 0;
    background-color: #42170e;
    color: #fff;
}
.our-services .block-title {
    color: #fff;
    border-color: #fff;
}
.our-services .media {
    margin: 20px 0;
    padding: 10px 0 0 10px;
    position: relative;
}
.our-services .media a.pull-left {
    display: inline-block;
    width: 130px;
    height: 130px;
    padding: 0;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px 2px brown;
}
.our-services .media > a.pull-left > img {
    width: 100%;
    height: 100%;
    transition: all 1.3s linear;
}
.our-services .media > a.pull-left:hover > img {
    transform: scale(1.1);
}
.our-services .media-heading {
    text-transform: uppercase;
}
.read-more {
    font-variant: all-small-caps;
    transition: all .2s ease-in-out;
    color: #ff3812;
    position: absolute;
    right: 0;
    bottom: 0;
}
.read-more:hover {
    text-decoration: none;
    color: #ff3812;
}
.read-more > i {
    position: relative;
    transition: all .2s ease-in-out;
    right: 10px;
    opacity: 0;
}
.read-more:hover, .read-more:hover > i {
    right: 0;
    opacity: 1;
    letter-spacing: 1px;
}
/* /Our services */

/* Banner */
.banner {
    padding: 25px 0;
}
.banner-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 20px 0;
    position: relative;
}
.banner-link::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all .3s linear;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(transparent, rgba(0, 0, 0, 0.8));
}
.banner-link:hover::before {
    content: '';
    opacity: 0;
}
.banner-poster {
    width: 100%;
}
/* /Banner */

/* About us */
.about-us {
    background: #42170e;
    padding: 25px 0;
}
.about-poster-row {
    padding: 10px;
}
.about-us .col-xs-6 {
    padding-left: 3px;
    padding-right: 3px;
}
.about-us .block-title {
    margin-bottom: 20px;
    color: #fff;
    border-color: #fff;
}
.about-us h4.block-title {
    border-width: 1px;
    color: #fff;
}
.about-us-text {
    color: #fff;
    font-style: italic;
    text-align: justify;
    font-size: 18px;
}
.about-spec {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.about-spec > img {
    width: 100%;
}
.spec-info {
    display: inline-block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding: 0 5px;
    background: brown;
    color: #fff;
    transition: all .2s ease-in-out;
    position: absolute;
    bottom: -34px;
    left: 0;
}
.about-spec:hover .spec-info {
    bottom: 0;
}
/* /About us */

/* Work gallery */
.work-gallery {
    padding: 25px 0;
}
.work-gallery .block-title {
    margin-bottom: 20px;
}
.wg .owl-nav > .owl-prev, .wg .owl-nav > .owl-next {
    width: 25px;
    height: 40px;
    border: 1px solid #42170e!important;
    background: #fff!important;
    color: #42170e!important;
    line-height: 30px;
    font-size: 20px!important;
    border-radius: 0!important;
    transform: skewX(-10deg);
    margin-top: 20px;
}
.wg .owl-nav > .owl-prev:hover, .wg .owl-nav > .owl-next:hover {
    border: 1px solid #42170e;
    background: #42170e!important;
    color: #fff!important;
}
.wg .owl-item {
    height: 200px;
}
.wg .items {
    width: 100%;
    height: 100%;
}
.wg .items > img {
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    object-fit: cover;
}
.wg .items > img:hover {
    cursor: zoom-in;
    opacity: .5;
}
.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}
.img-block {
    display: table-cell;
    vertical-align: middle;
}
.current-large-img {
    margin: auto;
    display: block;
    max-width: 70%;
    animation-name: zoom;
    animation-duration: .6s;
}
@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.litebox-close-btn {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: all .3s ease;
}
.litebox-close-btn:hover, .litebox-close-btn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* /Work gallery */

/* Our partners */
.our-partners {
    background-color: #42170E;
    padding: 25px 0;
}
.our-partners .block-title {
    margin-bottom: 20px;
}
.op .owl-item .items {
    background-color: #fff;
    padding: 5px;
}
.op .owl-nav > .owl-prev, .op .owl-nav > .owl-next {
    background-color: brown;
    padding: 0 15px;
    transform: skewX(-15deg);
    border-radius: 0;
    margin-top: 20px;
}
.op .owl-nav > .owl-prev:hover, .op .owl-nav > .owl-next:hover {
    color: brown;
    background-color: #fff;
}
.op .owl-item {
    height: 67px;
}
.op .items {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* /Our partners */

/* Contact */
.contact {
    padding: 25px 0;
}
.contact .block-title {
    margin-bottom: 20px;
}
.map {
    width: 100%;
    height: 400px;
    min-height: 150px;
    margin-bottom: 30px;
}
.contact-list .list-group li:first-child,
.contact-list .list-group li:last-child {
    border-radius: 0;
}
.contact-list .list-group li,
.contact-list .list-group li > a {
    margin-bottom: 25px;
    background: transparent;
    color: #42170e;
    border: none;
}
.contact-list .list-group li {
    border-bottom: 1px solid #42170e;
}
/* /Contact */

/* Footer */
footer {
    background-color: #42170e;
    color: #fff;
    padding: 30px 0;
    position: relative;
}
footer .list-inline li a {
    color: #fff;
    font-size: 14px;
    transition: all .3s ease-in-out;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 3px;
}
footer .list-inline li a:hover {
    color: rgb(190, 70, 70);
    border-color: rgb(190, 70, 70);
}
footer .list-inline li:last-child a {
    border: none;
}
#scroll-up {
    position: absolute;
    right: 10%;
    top: -60%;
    color: brown;
    font-size: 38px;
    cursor: pointer;
    transition: all .2s linear;
    opacity: 0;
}
/* /Footer */


/* Services page */
.dynamic-header {
    height: 300px;
    max-height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    background-image: url("../images/abstruct.jpg");
    background-size: 130%;
    position: relative;
}
.thumb-img-large-block {
    width: 100%;
    height: 350px;
    max-height: 350px;
    overflow: hidden;
}
.thumb-img-large-block > img {
    width: 100%;
    object-fit: cover;
}
.thumb-img-block {
    width: 100%;
    height: 250px;
    max-height: 250px;
    overflow: hidden;
}
.thumb-img-block > img {
    width: 100%;
    object-fit: cover;
}
.thumbnail .caption h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: #42170E;
    border-bottom: 1px solid #42170E;
}
.active-services-block {
    box-shadow: 0 0 30px 5px #b6b6b6;
}
.page-title {
    color: #42170e;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 4px solid #42170e;
    position: absolute;
    left: 20%;
    bottom: 50px;
}
.service-desc {
    height: 180px;
    line-height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* /Services page */

/* About us page */
.base-specialist {
    border-bottom: 1px solid #42170e;
    display: table;
    padding-bottom: 15px;
}
.base-specialist-img-block {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
}
.base-specialist-img-block > img {
    width: 100%;
}
.spec-name {
    margin-top: 0;
    text-transform: uppercase;
}
.about-text-block h3 {
    margin-top: 0;
    text-transform: uppercase;
}
.about-text-block p {
    text-align: justify;
}
.our-specialist {
    display: table;
    border-bottom: 1px solid #42170e;
}
.our-specialist-img-block {
    width: 40%;
    height: 150px;
    max-height: 150px;
    margin: 20px 5px 10px 0;
    overflow: hidden;
}
.our-specialist-img-block > img {
    width: 100%;
}
.our-specialist-text-block {
    width: 57%;
    margin: 20px 0;
}
.profession-desc {
    font-size: 14px;
}
.profession {
    font-size: 15px;
    font-variant: all-small-caps;
}
.our-specialist-text-block > h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}
/* /About us page */

/* Partners page */
.partners-thumb {
    padding: 0;
    border-radius: 0;
    transition: all .3s ease-in-out;
}
.partners-thumb:hover {
    box-shadow: 0 0 30px 5px #b6b6b6;
}
.partners-img-block > img {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    height: 210px;
    object-fit: unset;
}
.partners-link {
    text-decoration: none;
    color: #42170e;
}
.partners-link:hover, .partners-link:focus {
    text-decoration: none;
    color: #42170e;
}
/* /Partners page */

/* Gallery page */
.gallery-items {
    transition: all .3s ease-in-out;
}
.gallery-items > .thumbnail {
    position: relative;
    overflow: hidden;
}
.bg {
    transition: all .3s;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.gallery-items > .thumbnail:hover > a.bg {
    opacity: 1;
    padding-top: 45%;
    color: #fff;
    font-size: 24px;
}
.gallery-items:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.5), 0 10px 25px rgba(0,0,0,0.5);
}
.gallery-items > .thumbnail > img {
    margin: 0;
    width: 100%;
}
.gallery-items > .thumbnail {
    padding: 0;
    border-radius: 0;
    border: none;
}
.small-images-block {
    height: 60px;
    background-color: #42170e;
    overflow: hidden;
    padding: 1px!important;
}
.small-images-block > .list-inline {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.small-images-block > .list-inline li {
    overflow: hidden;
    padding: 0;
    width: 24%;
    height: 100%;
}
.small-images-block > .list-inline li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cars-carousel .item > img {
    width: 100%;
}
.modal-dialog.gallery-modal {
    margin: 100px auto;
}
.modal-body {
    padding: 0;
}
.partners-desc {
    height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* /Gallery page */

/* News page */
.news-small-block {
    margin-bottom: 10px;
    min-height: 90px;
}
.news-block-title {
    margin-top: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #42170e;
    padding: 2px;
    position: relative;
}
.news-block-title > i {
    position: absolute;
    right: 0;
}
.news-small-block:hover {
    background: linear-gradient(#fff, #eee);
}
.news-title > a {
    color: #42170e;
    font-size: 16px;
    transition: all .3s ease-in-out;
}
.news-title > a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fff, 2px 2px 2px #42170e;
}
.media-left > img {
    width: 85px!important;
}
.news-date {
    font-size: 13px;
    color: #42170e;
    text-align: right;
}

.new-img-block {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 350px;
}
.new-img-block img {
    width: 100%;
    opacity: .8;
    transition: all .7s linear;

}
.new-img-block:hover > img {
    content: '';
    transform: scale(1.1);
    opacity: 1;
}
.new-title {
    color: #42170e;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #42170e;
    margin-top: 15px;
    padding-bottom: 15px;
}
.new-text {
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
/* /News page */

/* Page note found */
.page-not {
    text-align: center;
}
.page-not > h1 {
    font-family: Arial, Verdana, sans-serif;
    color: #F44122;
    font-size: 40px;
}
/* /Page note found */
















