@media screen and (min-width : 1200px) {
    .masonry[data-columns]::before {
        content: '4 .col-xs-3';
    }
}

@media screen and (min-width : 992px) and (max-width : 1199px) {
    .masonry[data-columns]::before {
        content: '4 .col-xs-3';
    }

    .item.active .slider-h2 {
        right: 2%;
        font-size: 28px;
    }
    .item.active .slider-h4 {
        right: 2.3%;
    }
    @keyframes show-right {
        from {
            right: -350px;
        }
        to {
            right: 2.3%;
        }
    }
}

@media screen and (min-width : 768px) and (max-width : 991px) {
    .masonry[data-columns]::before {
        content: '3 .col-xs-4';
    }

    .item.active .slider-h4 {
        top: 40%;
    }
}

@media screen and (min-width : 560px) and (max-width : 767px) {
    .masonry[data-columns]::before {
        content: '3 .col-xs-4';
    }

    .item.active .slider-h2 {
        right: 2%;
        font-size: 25px;
    }
    .item.active .slider-h4 {
        right: 2%;
        top: 110px;
    }
    @keyframes show-right {
        from {
            right: -350px;
        }
        to {
            right: 2%;
        }
    }
}

@media screen and (min-width : 481px) and (max-width : 559px) {
    .masonry[data-columns]::before {
        content: '2 .col-xs-6';
    }

    .item.active .slider-h2 {
        right: 1%;
        font-size: 22px;
    }
    .item.active .slider-h4 {
        right: 1%;
        top: 43%;
    }
    @keyframes show-right {
        from {
            right: -350px;
        }
        to {
            right: 1%;
        }
    }
}

@media screen and (min-width : 320px) and (max-width : 480px) {
    .masonry[data-columns]::before {
        content: '1 .col-xs-12';
    }

    .item.active .slider-h2 {
        top: 4%;
        right: 2%;
        font-size: 16px;
    }
    @keyframes show-top {
        from {
            top: -100px;
        }
        to {
            top: 4%;
        }
    }
    .item.active .slider-h4 {
        font-size: 14px;
        top: 32%;
        right: 2%;
    }
    @keyframes show-right {
        from {
            right: -350px;
        }
        to {
            right: 2%;
        }
    }
}
